/* for masonry layout */
.gallery {
    width: 90%;
    margin: 0 auto;
    column-count: 3;
    /* or 4 depending on screen size */
    column-gap: 16px;
}

.gallery img {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 16px;
    display: block;
}

.gallery img {
    box-shadow: 1px 1px 3px;
}

@media (max-width: 430px) {
    .gallery {
        width: 95%;
        margin: 0 auto;
        column-count: 2;
        /* or 4 depending on screen size */
        column-gap: 8px;
    }

    .gallery img {
        width: 100%;
        margin-bottom: 8px;
        border-radius: 8px;
        display: block;
    }
}